<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerock.test.mapper.ChatRoomMapper">

<select id="selectAllRooms" resultType="com.zerock.test.dto.ChatRoom">
        SELECT room_id, name FROM chat_rooms
    </select>
    
    <!-- 방 생성 -->
    <insert id="insertRoom" parameterType="com.zerock.test.dto.ChatRoom">
        INSERT INTO chat_rooms (room_id,name) VALUES (#{room_id},#{name})
    </insert>
    
    <!-- 방 정보 조회 -->
    <select id="selectRoomById" parameterType="int" resultType="com.zerock.test.dto.ChatRoom">
        SELECT room_id ,name
        FROM chat_rooms
        WHERE room_id = #{room_id}
    </select>
    
	
	<select id="getRoomById" parameterType="int" resultType="com.zerock.test.dto.ChatRoom">
        SELECT room_id, name
        FROM chat_room
        WHERE room_id = #{room_id}
    </select>
    
    <!-- 뉴 조회 -->
	<select id="searchRoom" parameterType="int" resultType="com.zerock.test.dto.ChatRoom4">
	SELECT * FROM chat_rooms4 JOIN PRODUCTs ON PRODUCTs.IDX = chat_rooms4.product_idx 
	WHERE PRODUCTs.IDX = chat_rooms4.product_idx 
	</select>	
	
	<select id= "getRoom" parameterType="String" resultType="com.zerock.test.dto.ChatRoom4">
	SELECT cr.*, 
	TO_CHAR(cr.CREATED_AT , 'YYYY-MM-DD HH24:MI:ss') AS formatted_created_at,
       p.*, 
       s1.shop_img AS seller_shop_img, 
       s2.shop_img AS sender_shop_img 
FROM chat_rooms4 cr
JOIN products p ON cr.PRODUCT_IDX = p.idx
JOIN shop s1 ON s1.shop_owner = cr.seller_id
LEFT JOIN shop s2 ON s2.SHOP_OWNER = cr.sender
WHERE cr.seller_id = #{userId} OR cr.sender = #{userId}	
order BY room_id desc
	
	</select>
	
	<insert id="insertchatroom" parameterType="com.zerock.test.dto.ChatRoom4">
        INSERT INTO chat_rooms4 (room_id,room_name,product_idx,seller_id,sender,room_status) 
        VALUES (chatroom_seq.nextval,#{room_name},#{product_idx},#{seller_id},#{sender},'활성화')
    </insert>
    
    <select id="findChatRoomByParticipants" resultType="com.zerock.test.dto.ChatRoom4">
    SELECT * FROM chat_rooms4
    WHERE (sender = #{sender} AND seller_id = #{seller_id} AND product_idx = #{product_idx})
    OR (sender = #{seller_id} AND seller_id = #{sender} AND product_idx = #{product_idx}) FETCH FIRST ROW ONLY
</select>	

	<delete id ="deleteChatRoom" parameterType="int">
	DELETE FROM chat_rooms4 WHERE room_id = #{room_id}
	</delete>
	
	<select id="getroomdetail" parameterType="int" resultType="com.zerock.test.dto.ChatRoom4">
    SELECT cr.*, p.products_name, p.PRODUCTS_PRICE, p.PRODUCTS_STATUS , p.PRODUCTS_IMG1 , s.shop_img AS seller_shop_img , s2.sHOP_IMG AS sender_shop_img
    FROM chat_rooms4 cr 
    JOIN products p ON cr.PRODUCT_IDX = p.idx
    JOIN shop s ON s.shop_owner = cr.seller_id
    LEFT JOIN shop s2 ON s2.shop_owner = cr.sender 
    WHERE cr.room_id = #{room_id}
	</select> 

</mapper>