<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerock.test.mapper.ReviewsMapper">
	<select id="ReviewsCnt" parameterType="Integer"
		resultType="Integer">
		SELECT COUNT(*)
		FROM REVIEW
		WHERE shop_id = #{shop_id}
	</select>

	<select id="selectReview" parameterType="Integer"
		resultType="com.zerock.test.dto.ReviewDTO">
		SELECT *
		FROM (
		SELECT R.*, ROW_NUMBER() OVER (ORDER BY idx DESC) AS
		RNUM
		FROM review R
		WHERE R.SHOP_ID = #{shop_id}
		)
		WHERE RNUM <![CDATA[<=]]>
		#{size}
	</select>

	<select id="ShopRating" parameterType="int" resultType="double">
		SELECT
		AVG(rating) AS average_rating
		FROM review
		WHERE shop_id = #{shop_id}
	</select>

	<insert id="insertReview">
		INSERT INTO review (IDX,id, shop_id, rating, content,
		review_date, other_shopid)
		VALUES (reviews_seq.NEXTVAL,
		#{id},
		#{shopId}, #{rating}, #{content}, SYSDATE, #{other_shopid}
		)
	</insert>

	<select id="getImg" parameterType="int" resultType="String">
		SELECT
		s.shop_img
		FROM shop s
		JOIN review r ON r.other_shopid = s.shop_id
		WHERE
		r.other_shopid = #{other_shopid}
		FETCH FIRST 1 ROW ONLY
	</select>

	<update id="UpdateReview"
		parameterType="com.zerock.test.dto.ReviewDTO">
		UPDATE review
		SET content
		= #{content},
		rating = #{rating}
		WHERE idx = #{idx}
	</update>

	<delete id="deleteReview" parameterType="int">
		DELETE FROM review
		WHERE idx = #{idx}
	</delete>
</mapper>