.products-banner {
	font-size: 18px;
	padding: 50px 0px 20px;
	border-bottom: 1px solid rgb(238, 238, 238);
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	font-family: "Noto Sans KR", "sans-serif";
	font-weight: 400;
}

.products-cnt {
	color: rgb(247, 47, 51);
}

.noneproducts-container {
	font-family: "Noto Sans KR", "sans-serif";
	color: rgb(136, 136, 136);
	margin: 30px 0px 100px;
	font-size: 16px;
}

.product-container {
	margin-top: 30px;
}

.product-all {
	display: flex;
	font-size: 18px;
	font-family: "Noto Sans KR", "sans-serif";
}

.cnt {
	margin-left: 20px;
	color: rgb(136, 136, 136);
}

.product-sort-container {
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
}

.sort-link {
	margin-right: 20px;
	position: relative;
	display: block;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	color: rgb(33, 33, 33);
}

.sort-link:hover {
	margin-right: 20px;
	position: relative;
	display: block;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	color: rgb(33, 33, 33);
}

.sort-link:last-child {
	margin-right: 0px;
}

.sort-link:last-child::after {
	border-right: 0px;
}

.sort-link::after {
	content: "";
	position: relative;
	right: -10px;
	width: 1px;
	height: 15px;
	border-right: 1px solid rgb(204, 204, 204);
}

.sort-link.focus {
	color: rgb(247, 47, 51) !important;
	font-weight: bold !important;
}

.product-sort-link-container {
	display: flex;
	font-size: 14px;
	font-family: "Noto Sans KR", "sans-serif";
}

.products-list {
	display: grid;
	grid-template-columns: repeat(5, auto);
	justify-content: space-between;
}

.products-content {
	max-width: 196px;
	max-height: 281px;
	margin-bottom: 11px;
	border: 1px solid rgb(238, 238, 238);
}

.product-price {
	font-size: 15px;
	font-weight: 600;
	color: rgb(33, 33, 33);
}

.product-info {
	padding: 5px;
}

.price-location {
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	height: 35px;
}

.product-location {
	font-size: 12px;
    color: rgb(127, 127, 127);
    font-weight: 600;
    overflow: hidden; /* 넘치는 내용을 숨김 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    text-overflow: ellipsis; /* 텍스트가 넘칠 때 "..."으로 표시 */
}

.product-title {
	position: relative;
	font-size: 18px;
	padding-bottom: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-decoration-line: none;
	font-weight: 500;
	color: rgb(33, 33, 33);
	line-height: 20px;
	text-align: left;
}

