@charset "UTF-8";

.followings-banner{
	font-size: 18px;
    padding: 50px 0px 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-family: "Noto Sans KR", "sans-serif";
    font-weight: 400;
}

.followings-cnt{
	color: rgb(247,47, 51);
}

.nonefollowing-container{
	font-family: "Noto Sans KR", "sans-serif";
    color: rgb(136, 136, 136);
    margin: 30px 0px 100px;
    font-size: 16px;
}